.LoginScreen{
    position: relative;
    height: 100%;
    background: url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg")
     center no-repeat;
    background-size: cover;
}
.LoginScreen_body>h1{
    font-size: 3.125rem;
    margin-bottom: 20px;
}

.LoginScreen_body>h2{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.LoginScreen_body>h3{
    font-size: 1.3rem;
    font-weight: 400;
}
.LoginScreen_body{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    top: 30%;
    z-index: 1;
    padding: 20px;
    color: #fff;
    left: 0;
    right: 0;
}

.LoginScreen_gradient{
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4); 
    background-image: linear-gradient(
        to top
        rgba(0,0,0,0.8) 0,
        rgba(0,0,0,0)60%,
        rgba(0,0,0,0.8)100%
    ); 
}
.LoginScreen_button{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    cursor: pointer;
}

.LoginScreen_Logo{
    position:fixed;
    left: 0;
    width: 150px;
    object-fit: contain;
    padding-left: 20px;
}

.Loginscreen_input>form>input{
    padding: 10px;
    outline-width: 0;
    height: 30px;
    width: 30%;
    border: none;
    max-width: 600px;
}
.Loginscreen_input{
    padding: 20px;
}
.LoginScreen_getstarted{
    padding: 16px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #e50914;
    border: none;
    font-weight: 600;
    cursor: pointer;
}